<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
   </head>

<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Приложение для диабетиков</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" asp-controller="Home" asp-action="Index">Главная</a>
            <a class="p-2 text-dark" asp-controller="Home" asp-action="Recomend">Рекомендации</a>
            <a class="p-2 text-dark" asp-controller="Home" asp-action="Product">Продукты</a>
            <a class="p-2 text-dark" asp-controller="Home" asp-action="Recipe">Рецепты</a>
            <a class="p-2 text-dark" asp-controller="Home" asp-action="Recipe">Дневник</a>


        </nav>
        <a class="btn btn-info" asp-controller="Account" asp-action="Login">Вход</a>
    </div>
    <!--меню-->
    <!--основной контент-->
    <main role="main" class="flex-shrink-0">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>© 2021 - Application For People With Diabetes</p>
            </footer>
        </div>
    </main>
</body>
</html>