@model IEnumerable<AppForDiabetes.Models.Products>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>

<html>
<head>
    <title>Главная</title>
</head>
<body>

    <h2>Здравствуйте</h2>
    <h3>Это ваше приложение</h3>
    <p>Оля молодец</p>
    
</body>
</html>