
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>

    <title>Рекомендации</title>
</head>
<body>

    <h2>Рекомендации для людей с диабетом</h2>
    <h3>Особенности питания при диабете</h3>
    <p>Если в рацион диабетика будет входить вся еда без разбора, то это будет регулярно приводить к ухудшению самочувствия.</p>
    <p>Диета, которую должен соблюдать больной сахарным диабетом, как и рацион питания любого человека должна отвечать широко известным правилам:</p>
    <ul>
        <li>Необходимо ограничить количество потребляемых углеводов.</li>
        <li>Следует отказаться от жирной, острой, жареной пищи.</li>
        <li>Нужно уменьшить калорийность питания.</li>
        <li>Снизить количество потребления глюкозы и фруктозы.</li>
        <li>Следует заменить сахар в рационе >подсластителями природного происхождения.</li>
        <li>Употреблять больше овощей, несладких фруктов.</li>
        <li>Отказаться от сладких, газированных, алкогольных напитков.</li>
        <li>Снизить употребление соли.</li>
        <li>Питаться варёной или приготовленной на пару пищей.</li>
    </ul>
    <p>Категорически нельзя есть:</p>
    <ol>
        <li>Сахар.</li>
        <li>Копчёности, соленья.</li>
        <li>Выпечка.</li>
        <li>Жирная рыба, жирное мясо.</li>
        <li>Чипсы.</li>
        <li>Семечки.</li>
        <li>Молочные продукты с высокой жирностью.</li>
        <li>Сладости.</li>
        <li>Варенье.</li>
        <li>Консервы.</li>
        <li>Майонез.</li>
        <li>Соки.</li>
        <li>Компоты.</li>
    </ol>
</body>
</html>