@model AppForDiabetes.Models.Humans


<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
</head>
<body>
    <form asp-antiforgery="true" method="post" asp-controller="Account" asp-action="Login">
        <h2>Введите данные для входа</h2>

        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Login">Вевдите логин:</label><br />
            <input type="text"asp-for="Name"class="form-control">
            <span style="color:brown" asp-validation-for="Login"  ></span>

        </div>

        <div>
            <label asp-for="Password">Введите пароль:</label><br />
            <input type="text" asp-for="Password" class="form-control">
            <span style="color:brown" asp-validation-for="Password" ></span>
        </div>
        <div>
            <input class="btn btn-lg btn-info btn-block" type="submit"
                   value="Войти" />
        </div>
        <label>Если у вас ещё нет аккаунта:</label>
        <a class="btn-outline-info" asp-controller="Account" asp-action="Registr">Регистрация</a>
    </form>
</body>
</html>